body {
  background-image: url(Images/Untitled\ design\(6\).png);
  height: 100vh;
}

.container {
    font-family: sans-serif;
    background-color: blueviolet;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 700px;
  }
  
  header {
    background-color: blueviolet;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    padding-left: 35px;
    margin: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
    cursor: pointer;
  }

  .submit-info {
    margin-left: 10px;
    align-items: start;
  }

  search-container {
    display: flex;
    border: 1px solid #000;
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
    padding-left: 20px;
  }
  
  main {
    display: flex;
    padding: 20px;
    flex: 1;
  }
  
  .profile {
    flex: 2;
    padding-left: 25px;
  }
  
  .rank {
    font-size: 2em;
    color: whitesmoke;
  }
  
  .name {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .description {
    line-height: 1.6;
  }
  
  .about {
    padding-left: 40px;
  }
  
  .about ul {
    list-style: none;
    padding-left: 210px;
    padding-top: 50px;
    margin: 0;
  }
  
  .about li {
    padding: 10px 0;
    cursor: pointer;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .search-container {
    display: flex;
    border: 1px solid #000;
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
  }
  
  .search-input {
    border: none;
    padding: 10px;
    flex-grow: 1;
    outline: none;
  }
  
  .search-button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .search-button svg {
    fill: #000;
  }

  .image-b {
    padding-bottom: 2000px;
    padding-left: 100px;
  }
  